In [18]:
import pandas as pd

In [19]:
columns_df1 = ['Sample','Animal', 'Time', 'Sex']
data_df1 = [
    ['1', 'A', 'one', 'male'],
    ['2', 'A', 'two', 'male'],
    ['3', 'B', 'one', 'female'],
    ['4', 'C', 'one', 'male'],
    ['5', 'D', 'one', 'female']
    ]

df1 = pd.DataFrame(data_df1, columns=columns_df1)

columns_df2 = ['Sample','a', 'b', 'c']
data_df2 = [
    ['1', '0.2', '0.4', '0.3'],
    ['2', '0.5', '0.7', '0.2'],
    ['3', '0.4', '0.1', '0.9'],
    ['4', '0.4', '0.2', '0.3'],
    ['5', '0.6', '0.2', '0.4']
    ]

df2 = pd.DataFrame(data_df2, columns=columns_df2)

In [20]:
# your data
# ==============================
# set index
df1 = df1.set_index('Sample')
print(df1)

       Animal Time     Sex
Sample
1           A  one    male
2           A  two    male
3           B  one  female
4           C  one    male
5           D  one  female

In [21]:
print(df2)

  Sample    a    b    c
0      1  0.2  0.4  0.3
1      2  0.5  0.7  0.2
2      3  0.4  0.1  0.9
3      4  0.4  0.2  0.3
4      5  0.6  0.2  0.4

In [22]:
# processing
# =============================
df = df1.join(df2)

df_temp = df.set_index(['Animal', 'Sex','Time'], append=True).unstack()

print(df_temp)

                     Sample         a         b         c
Time                    one  two  one  two  one  two  one  two
Sample Animal Sex
1      A      male      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2      A      male      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3      B      female    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4      C      male      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5      D      female    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [23]:
# rename the columns if you wish
df_temp.columns = ['{}_{}'.format(x, y) for x, y in zip(df_temp.columns.get_level_values(1), df_temp.columns.get_level_values(0))]

print(df_temp)

                     one_Sample two_Sample one_a two_a one_b two_b one_c two_c
Sample Animal Sex
1      A      male          NaN        NaN   NaN   NaN   NaN   NaN   NaN   NaN
2      A      male          NaN        NaN   NaN   NaN   NaN   NaN   NaN   NaN
3      B      female        NaN        NaN   NaN   NaN   NaN   NaN   NaN   NaN
4      C      male          NaN        NaN   NaN   NaN   NaN   NaN   NaN   NaN
5      D      female        NaN        NaN   NaN   NaN   NaN   NaN   NaN   NaN

In [24]:

result = df_temp.reset_index('Sex').groupby(level='Animal').agg(max).sort_index(axis=1)

result

,Sex,one_Sample,one_a,one_b,one_c,two_Sample,two_a,two_b,two_c
Animal,,,,,,,,,
A,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
B,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
C,male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
D,female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN